#heading
{
    font-style:normal;
    color: tomato;
}
#parent
{
    font-style:normal;
    color: green;
}
#child
{
    font-style:normal;
    color: pink;
}
.header
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
} 
.nav-items > ul {
    display: flex;
    font-size: 24px;
    padding: 0px 20px;
    list-style-type: none;
}
.nav-items >ul > li{
    padding:10px;
    margin:10px;
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
    width:1400px;
    padding:40px 65px 10px 126px;
}
.rest-card { 
    padding: 6px;
    width:290px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin:6px;
}
.rest-card:hover{
    cursor: pointer;
    border: 1px solid red;
}
.search{
    padding: 10px  ;
}
.res-logo{  
    width:280px;
    border-radius: 15px;
    height: 250px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: orange;
    font-weight: bold;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    padding: 6px;
    width:290px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin:20px;
    background-color: #f0f0f0;
}
.login-button{
    padding:0 20px;
    cursor: pointer;
    height: 20px;
    color:blue;
    background-color: aqua;
    font-weight: bold;
    border-radius: 30px 2px 40px 3px;
}
.filter-button{
    display: flex;
    flex-wrap: wrap;
}
.search_box{ 
    width: 180px;
    background-color: blanchedalmond;
}
.input_search_button{
    color: red;
    padding: 2px;
    width: 100px;
}